.App {
  text-align: center;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.product {
  width: 300px;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.actions {
  display: flex;
  justify-content: space-between;
}

.button {
  background-color: #007bff;
  color: white;
  border: 1px solid #007bff;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  margin-right: 5px;
}

.button:hover {
  background-color: #0069d9;
}

.create-product-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}

.create-product-btn:hover {
  background-color: #0069d9;
}

.notification {
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid;
  border-radius: 4px;
}

.notification.success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.notification.error {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

/* Personalizaciones del modal */
.ReactModal__Overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
}

.ReactModal__Content {
  position: relative;
  background: #fff;
  padding: 20px;
  max-width: 500px; /* Aumenta el ancho máximo del modal aquí */
  border-radius: 4px;
  outline: none;
}

/* Estilos para el formulario de productos */
.product-form {
  width: 100%;
  max-width: 400px; /* Aumenta el ancho máximo del formulario aquí */
}

/* Estilos para la ventana modal de eliminación */
.delete-modal {
  width: 400px;
  padding: 1rem;
  background-color: #fff;
  border-radius: 4px;
  outline: none;
}

.delete-modal__buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

/* Estilos para dispositivos móviles */

@media screen and (max-width: 600px) {
  .product {
    width: 100%;
    margin-bottom: 1rem;
  }
  
  .create-product-btn {
    position: static;
    width: 100%;
    margin-top: 1rem;
  }
  
  .products {
    justify-content: flex-start;
  }
}
